<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sbitbd.dubai2bd">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/followfashion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/followfashion"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        android:usesCleartextTraffic="true">
        <activity android:name="com.sbitbd.dubai2bd.ui.forget.forget_code"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sbitbd.dubai2bd.ImageSlider.ImageFullview"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_fullview"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.invoice"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.category.all_category"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.flash_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sbitbd.dubai2bd.ui.track_order.order_info"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.checkout.checkout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.edit_profile.edit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.verify.verfication"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.search"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.product_descripton"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.wish_list.wish"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.product_by_cond.product_view"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.sh_cart.sh_cart"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.create_admin.admin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name="com.sbitbd.dubai2bd.ui.login_page.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity
            android:name="com.sbitbd.dubai2bd.MainActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>